<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVAk9OVzj4CibvIl_4HHK-L9WDaagFIis"></script>
    <script src='/js/map.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
